@import '~bootstrap/scss/bootstrap';

.cardsIndex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-body {
 width: 200px;
 margin: 0px;
 align-content: center;
}

.createBudgetForm {
    width: 550px;
    margin: 0px;
    padding: 0px;
    align-content: center;
}